// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$redpink: #D9415D;
$darkblue: #395D73;
$lightblue: #6BA7BF;
$brown: #8C3D2B;
$background-gray: #F2F2F2;
$white: #FFFFFF;
$dark-gray-text: #cccccc;
