<div class="container my-5">
  <%= simple_form_for([@vehicle, @booking], local: true) do |form| %>
    <%= form.input :start_date %>
    <%= form.input :end_date %>

    <div class="actions my-3">
      <%= form.button :submit, 'Book', class: "btn btn-success" %>
    </div>
  <% end %>
</div>
