<div class="container my-5">


<div class="container my-5" data-controller="my-total-price">

  <%= simple_form_for([@vehicle, Booking.new], local: true) do |form| %>
    <%= form.input :start_date, label: "Pick your dates", as: :string, input_html: {  data: { datepicker_target: "startDateInput" } } %>
    <div >

    <%= form.input :end_date, id: "booking_end_date", label: false, as: :string, input_html:  { class: "d-none", data: { datepicker_target: "endDateInput", total_price_target: "endDateInput"} } %>
    </div>

    <div class="actions my-3 btn-airatp-redpink">
      <%= form.button :submit, 'Book', id: "submitBtn", class: "links" %>
    </div>
  <% end %>
</div>
