.btn-airatp-redpink {
  background-color: $redpink;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 10px 20px;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  margin: 25px 0px;

  &:hover {
    opacity: 0.7;  }
}

.btn-airatp-lightblue {
  background-color: $lightblue;
  color: $white;
  text-decoration: none;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
  padding: 10px 20px;
  transition: opacity 0.3s ease;
  border-radius: 5px;
  margin-top: 10px 0px;

  &:hover {
    opacity: 0.7;  }
}

.btn-danger{
  color: white;
}
