.dashboard-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  & > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h3.dashboard-card-status {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  &.text-grey {
    h3.dashboard-card-status {
      color: grey;
    }
  }

  &.text-green {
    h3.dashboard-card-status {
      color: green;
    }
  }

  &.text-red {
    h3.dashboard-card-status {
      color: red;
    }
  }

  p {
    font-size: 12px;
    opacity: 0.7;
    margin: 0;
  }

  .dashboard-card-infos {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    & .dashboard-card-user {
      position: absolute;
      right: 16px;
      top: -20px;
      width: 40px;
    }
  }
}

.dashboard-card-padding {
  padding: 10px;
}
