.booking-card-status {
  font-weight: bold;
}

.booking-status-text-right {
  text-align: right;
  padding: 30px 20px 20px 0px;
}

.text-grey {
  h4.booking-card-status {
    color: grey;
  }
}

.text-green {
  h4.booking-card-status {
    color: green;
  }
}

.text-red {
  h4.booking-card-status {
    color: red;
  }
}
