.filter-additional {
border-radius: 10px;
border: 2px solid var(--lightblue, #6BA7BF);
color: #6BA7BF;
padding: 8px 24px;
font-weight: bolder;
opacity: 1;
transition: opacity 0.3s ease;
text-decoration: none;
}

.filter-additional:hover {
  opacity: 0.6;
}
