#suscribe {
  background-color: $lightblue;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 143px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;  }
}

#connect {
  background-color: $redpink;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 143px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.7;  }
}

.links {
  text-decoration: none;
  color: $white;
}

.buttons-log {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
