.navbar-lewagon {
  justify-content: space-between;
  background: $background-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-filers {
  width: 40%;
  display:flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid $lightblue;
  border-radius: 30px;
  padding: 20px;
}

.navbar-nav mr-auto {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.nav-item-position {
  padding: 10px;
}

.navbar {
  margin-bottom: 20px;
  padding: 15px;
}
