.navbar-lewagon {
  justify-content: space-between;
  background: $background-gray;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-filters {
  background-color: $white;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid $lightblue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
  padding: 0px 30px;
}

.navbar-nav {
  display: flex;
  align-items: first baseline;

}

.navbar-nav li {
  padding: 10px;
}

.navbar {
  margin-bottom: 20px;
  padding: 15px;
}

.vertical-line-after-this {
  /* Style de la ligne verticale */
  border-left: 1px solid $lightblue;
  height: 100%;
  padding: 10px;
  margin: 10px 0px;
}
